.DS_Store
__pycache__
*.pyc
*.csv
*.png
*.txt
*.ckpt.*
*.pt
*.env
*.vscode
/ASF
build/
dist/
eggs/
*.egg-info/
*.egg
/NormalizationInfo
/src/SI_Toolkit/Training/NNI/NNI_Results
/PycharmRunConfigurations/*
